* {
  padding: 20px;
}

body {
  background-color: rgb(70, 15, 15);
}

p {
  color: wheat;
}

h1,
h2,
h3 {
  color: blanchedalmond;
}

.center {
  text-align: center;
}

.vermelho {
  color: red;
}

/* seletor de classe e tag */
p.verde {
  color: green;
}

/* seletores de evento ou pseudonimo */
h1:hover {
  background-color: yellow;
}

/* link não visitado ficara na cor vermelha */
a:link {
  color: red;
}

/* link visitado ficara na cor verde */
a:visited {
  color: green;
}

a:hover {
  color: blue;
}

/* seletores combinados ou descendentes */
/* div p {
  background-color: yellow;
}
 */

/* seletores filhos */
div > p {
  background-color: yellow;
}

/* seletor id */
#capitulo1 {
  color: red;
}

#capitulo2 {
  color: green;
}
